@import "./mixins";

#Portfolio {
    padding: 13em 2em 10em 2em;
    display: flex;
    position: relative;

    * {
        display: flex;
        position: relative;
    }

    .Title {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 0 2em;
            
        h1 {
            font-size: clamp(3em, 5vw, 5em);
            font-weight: 200;
            line-height: 80%;
        }

        p {
            font-family: var(--franklin);
            font-weight: 100;
            font-size: clamp(1.5em, 2vw, 2em);
        }
    }

    .TagsWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em 1.5em;
        width: 100%;
        padding: 0.75em 0em;
        margin: 0.25em 0;
        border-top: 0.125em dashed var(--black);
        
        p {
            @include RoundButton(var(--lightPurple));
            padding: 0.3em 1em;
            font-size: 1.3em;
            font-family: var(--franklin);
            font-weight: 300;
        }
    }

    .ProjectsWrapper {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4em 0;
        gap: 4em;
        min-height: 20em;

        @include PortfolioCard();

        .Project {
            opacity: 0;
        }
    }
}