@import './../mixins';

#analytics {
    display: flex;
    * {
        display: flex;
    }

    .GraphWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5em;
        padding-top: 5em;

        .Graph {
            flex-basis: 20.5em;
            flex-grow: 1;
            max-width: 100%;
            height: fit-content;
            justify-content: center;
            align-items: center;
            gap: 2em;

            h3 {
                flex-direction: row;
                gap: 0.25em;
                font-size: 2.75em;
                font-weight: 200;
                flex-basis: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;

                .Reset {
                    @include ResetButton();
                    display: inline;
                    position: relative;
                    font-size: 0.5em;
                    width: fit-content;
                }
            }
        }
    }

    .UserData {

        .DataWrapper {
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            border-radius: 1em;
            gap: 2em;
            max-width: 100%;

            .MapWrapper {
                flex-direction: row;
                flex-grow: 1;
                flex-basis: 225px;
                max-width: 100%;
                box-shadow: 0.3em 0.25em 0 0 rgba(0,0,0, 0.05);
                overflow: hidden;
                border-radius: 0.5em;
    
                #map {
                    filter: hue-rotate(-25deg);
                    display: block;
                    flex-grow: 1;
                    height: 275px;
                    width: 225px;
                    flex-basis: 225px;
                    max-width: 100%;
                    border-radius: inherit;
    
                    * {
                        display: block;
                    }
    
                    .leaflet-control {
                        border: none;
                        border-radius: 2px;
                        margin-left: 1.25em;
                        margin-top: 1.25em;
    
                        a {
                            background-color: var(--brightWhite);
                            font-size: 1.5em;
                            height: fit-content;
                            width: fit-content;
                            padding: 0.45em 0.4em 0.25em 0.35em;
                            transition: transform 0.1s linear;
                            border: 1.5px solid var(--black);
    
                            &:last-child {
                                margin-top: -1px;
                            }
    
                            span {
                                font-family: var(--arima);
                                line-height: 70%;
                                font-weight: 300;
                            }
    
                            &:hover {
                                z-index: 9999;
                                transform: scale(1.15);
                            }
                        }
    
                        * {
                            color: var(--black);
                        }
                    }
    
                    .leaflet-marker-icon {
                        filter: brightness(1.1) hue-rotate(30deg)
                    }
                }
    
                .Feather {
                    position: absolute;
                    border-radius: inherit;
                    height: 100%;
                    width: 100%;
                    box-shadow: 0 0 0.125em 0.125em var(--white) inset;
                    pointer-events: none;
                }
            }
    
            .Location {
                gap: 0.8em;
                flex-basis: 100%;
                max-width: 100%;
    
                p {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.25em 1em;
                    font-size: 1.25em;
                    font-weight: 400;
                    border-bottom: 0.08em dashed var(--black);
                    padding-bottom: 0.6em;
                    line-height: 110%;
    
                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0em;
                    }
    
                    span {
                        font-size: 1.1em;
                        font-family: var(--franklin);
                        font-weight: 100;
                        text-align: end;
                        line-height: 120%;
                    }
                }
    
                .Error {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .WatchTime {
        margin-bottom: -3em;

        .AxisWrapper {
            display: grid;
            grid-template-rows: 100%;
            height: 35em;
            
            .Column {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 20em auto;

                .YLabels {
                    justify-content: space-between;

                    p {
                        text-align: center;
                        padding: 0 0.5em;
                        font-family: var(--franklin);
                        font-weight: 300;
                        font-size: 1.05em;
                    }
                }

                &:nth-child(2) {
                    .Timestamp {
                        border-left: 0.1em solid var(--black);
                    }
                }

                .XLabel {
                    text-align: center;
                    padding: 0.3em 0.5em;
                    border-top: 0.1em solid var(--black);
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    letter-spacing: 0.05em;
                    justify-content: center;
                    text-align: start;
                    font-family: var(--franklin);
                    font-weight: 300;
                    font-size: 1.05em;

                    span {
                        transform: rotate(-30deg) translateX(-20%);
                        transform-origin: top;
                    }
                }

                .Timestamp {
                    padding: 0 0.5em;
                    justify-content: flex-end;
                    overflow: hidden;

                    .Value {
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background-color: var(--yellow);
                        overflow: hidden;
                        transition: height 0.5s ease-in-out;
                    }
                }
            }
        }
    }

    .Heatmap {

        .HeatmapScroll {
            width: 100%;
            height: 30em;
            overflow-y: scroll;
            overflow-x: hidden;
            border-radius: 0.5em;

            .HeatmapWrapper {
                width: 100%;
                
                img {
                    height: auto;
                    width: 100%;
                }
    
                .Gradient {
                    position: absolute;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                    width: 100%;
                    min-height: 100%;
                    background-color: rgba(0,0,0, 0.3);
                    filter: blur(3px);
                    mix-blend-mode: color-burn;
                    transform: translate3d(0,0,0);

                    .Circle {
                        position: absolute;
                        height: 0.75em;
                        width: 0.75em;
                        background-color: #f87400;
                        opacity: 0.07;
                        border-radius: 10em;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
    }

    .PageViews {

        .Wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;

            .Row {
                flex-basis: 100%;
                gap: 2em;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-bottom: 0.1em dashed var(--black);
                padding: 0.6em 0;

                &:last-child {
                    border-bottom: none;
                }

                a {
                    @include LinkHover(var(--yellow), var(--black), 0.1em);
                    font-size: 1.25em;
                    font-weight: 400;
                    word-break: break-all;
                }

                p {
                    font-family: var(--franklin);
                    font-size: 1.45em;
                    font-weight: 100;
                }
            }
        }
    }
}