#analytics {
    padding-top: 0em;

    .GraphWrapper {

        .Graph {

            #map {
                height: 20em;
                width: 25em;

                * {
                    display: block;
                }
            }
        }
    }
}