#data {
    justify-content: center;
    display: flex;
    
    * {
        display: flex;
    }

    .Example {
        justify-content: center;
    }

    .DataEntry {
        width: fit-content;
        flex-basis: 15em;
        flex-grow: 1;
        font-size: 1.25em;
        color: var(--white);
        background-color: var(--black);
        border-radius: 0.5em;
        padding: 1.25em 1.5em;
        gap: 0.5em;
        overflow: hidden;
        max-width: 100%;
        box-shadow:  0.2em 0.2em 0em 0em rgba(0,0,0,0.05);

        .Line {
            flex-direction: row;
            align-items: baseline;
            line-height: 120%;

            span {
                display: inline;
            }

            input, select {
                display: inline;
                min-width: 25px;
                max-width: 50%;
                margin-right: 0.25em;
                background-color: var(--black);
                border-bottom: 0.075em dashed var(--white);
                transform: translateY(-0.15em);
                color: var(--white);
                font-size: 0.9em;
                font-weight: 200;
                padding: 0 0.2em;
                font-family: var(--franklin);
                transition: border 0.1s linear;

                &:hover, &:focus {
                    border-bottom: 0.075em solid var(--white);
                }
            }

            .Reset {
                position: absolute;
                font-size: 1.1em;
                right: -0.3em;
                top: -0.3em;
                color: var(--white);
                padding: 0.35em;
                border-radius: 10em;
                transition: background-color 0.1s linear, color 0.1s linear, transform 0.25s ease-in-out;

                &:hover {
                    background-color: var(--white);
                    color: var(--black);
                    transform: scale(1.1) rotate(-270deg);
                    cursor: pointer;
                }
            }

            .AddButton {
                color: var(--white);
                font-size: 0.8em;
                padding: 0.2em 0.25em;
                border: 0.125em solid var(--white);
                border-radius: 0.25em;
                width: fit-content;
                transition: background-color 0.1s linear, color 0.1s linear, transform 0.1s linear;

                &:hover {
                    background-color: var(--white);
                    color: var(--black);
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }

            .DeleteButton {
                font-size: 1em;
                color: var(--lightRed);
                margin-left: 0.25em;
                padding: 0.25em;
                border-radius: 0.25em;
                width: fit-content;
                transition: color 0.1s linear, background-color 0.1s linear, transform 0.1s linear;

                &:hover {
                    color: var(--white);
                    background-color: var(--lightRed);
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }

            .Red {
                color: var(--lightRed);
            }

            .Purple {
                color: var(--lightPurple);
            }
            
            .Yellow {
                color: var(--yellow);
            }

            .Green {
                color: var(--green);
            }
        }
    }

    .DataResult {
        background-color: var(--brightWhite);
        border-radius: 0.5em;
        padding: 1.5em 1.5em 0.75em 1.5em;
        flex-grow: 1;
        flex-basis: 15em;
        max-width: 30em;
        overflow: hidden;
        height: fit-content;
        box-shadow:  0.2em 0.2em 0em 0em rgba(0,0,0,0.04);

        .Gallery {
            height: 17.5em;
            width: calc(100% + 3em);
            margin-left: -1.5em;
            margin-top: -1.5em;
            overflow: hidden;

            .GallerySlider {
                flex-direction: row;
                flex-shrink: 0;
                height: 100%;
                width: 100%;
                transition: transform 0.5s ease-in-out;

                .ImageWrapper {
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .CategoryWrapper {
                position: absolute;
                right: 0.75em;
                top: 0.75em;
                max-width: calc(100% - 1.5em);
                justify-content: flex-end;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 0.25em 0.5em;
                font-size: 1.15em;

                .Category {
                    padding: 0.1em 0.75em;
                    border-radius: 10em;
                    background: var(--blue);
                    color: white;
                    font-weight: 600;
                    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
                }
            }
        }

        .Pagination {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5em;
            width: 100%;
            justify-content: center;
            margin: 1em 0;

            div {
                height: 0.75em;
                width: 2em;
                border-radius: 0.1em;
                background-color: var(--lightGrey);
                transition: background-color 0.1s linear;

                &:hover {
                    cursor: pointer;
                    background-color: var(--blue);
                }
            }
        }

        h3 {
            font-family: var(--rubik);
            font-weight: 400;
            font-size: 2em;
            padding: 0.5em 0;
            border-top: 0.05em solid var(--lightGrey);
            border-bottom: 0.05em solid var(--lightGrey);
        }

        .SubContent {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.25em;

            .PriceWrapper {
                justify-content: center;
                align-items: center;
                flex-basis: 8em;
                padding: 1.5em 0em;

                .Price {
                    font-family: var(--cairo);
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-bottom: 0.2em;

                    span {
                        position: absolute;
                        height: 0.1em;
                        width: 110%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(10deg);
                        background-color: var(--red);
                    }
                }

                .QuantityButtons {
                    flex-direction: row;
                    font-family: var(--rubik);
                    margin-top: 0.25em;

                    button {
                        height: 29px;
                        width: 25px;
                        font-size: 1.25em;
                        font-weight: 700;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--blue);
                        color: white;
                        line-height: 50%;
                        transition: transform 0.1s linear;

                        &:first-of-type {
                            border-radius: 0.3em 0 0 0.3em;
                        }

                        &:last-of-type {
                            border-radius: 0 0.3em 0.3em 0;
                        }

                        &:hover {
                            transform: scale(1.15);
                            cursor: pointer;
                        }
                    }

                    input {
                        height: calc(30px - 0.2em);
                        font-size: 1em;
                        font-weight: 400;
                        font-family: var(--rubik);
                        width: 2em;
                        padding: 0 0.5em;
                        background: none;
                        border-top: 0.1em solid var(--blue);
                        border-bottom: 0.1em solid var(--blue);
                    }
                }
            }

            .Divider {
                align-self: stretch;
                width: 0.1em;
                background-color: var(--lightGrey);
                height: none;
            }

            .Description {
                flex-grow: 1;
                flex-basis: 10em;
                font-size: 1.15em;
                font-family: var(--workSans);
                font-weight: 400;
                line-height: 120%;
                padding: 0.75em 0;
            }
        }
    }
}