@import '../mixins';

#integration {
    display: flex;
    * {
        display: flex;
    }

    .Example {
        margin-top: 7em;
        gap: 2.5em;

        .InputWrapper {
            @include Input();
            margin-top: -1.4em;
            margin-bottom: 5em;
            margin-left: 3em;

            .EnterButton {
                position: absolute;
                top: 48%;
                right: 0.25em;
                padding: 0.37em 0.3em 0.33em 0.35em;
                border-radius: 0.2em;
                font-size: 1.5em;
                transform: translateY(-50%) rotate(-90deg);
                z-index: 1;
                transition: color 0.1s linear, background-color 0.1s linear, transform 0.1s linear;

                &:hover {
                    cursor: pointer;
                    background-color: var(--black);
                    transform: translateY(-50%) rotate(-90deg) scale(1.05);
                    color: var(--white);
                }
            }

            .Reset {
                @include ResetButton();
                z-index: 1;
                left: -2.4em;
                top: 0.15em;
                width: fit-content;
            }
        
            label {
                max-width: 35%;
            }

            input {
                padding-right: 1.65em;
            }
        }

        .SliderWrapper {
            flex-direction: row;
            gap: 2.5em;
            min-height: 18em;
            width: 100%;
            align-items: center;
            justify-content: center;

            button {
                font-size: 2em;
                background: var(--brightWhite);
                padding: 0.3em 0.37em;
                border-radius: 10em;
                box-shadow: 0.07em 0.1em 0 0 rgba(0,0,0, 0.05);
                transition: background-color 0.1s linear, color 0.1s linear, transform 0.1s linear;

                &:hover {
                    background-color: var(--black);
                    color: var(--white);
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }

            .ResultsWrapper {
                overflow: hidden;
                flex-basis: 1px;
                flex-grow: 1;
                padding-top: 1.5em;

                .ResultsSlider {
                    flex-direction: row;
                    gap: 24px;
                    width: fit-content;
                    transition: transform 0.5s ease-in-out;

                    .Result {
                        flex-direction: column;
                        gap: 0.5em;
                        flex-shrink: 0;
                        width: 14em;
        
                        .AlbumCover {
                            width: 100%;
                            height: fit-content;
        
                            .RecordSVG {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translate(-50%, 7.5%) rotate(-25deg);
                                width: 90%;
                                height: auto;
                                transition: transform 0.2s ease-in-out;
                            }
        
                            img {
                                background-color: var(--white);
                                width: 100%;
                                height: auto;
                                border-radius: 0.2em;
                                box-shadow: 0.25em 0.25em 0em 0 rgba(0,0,0, 0.05);
                                margin-top: 4em;
                                transition: transform 0.2s ease-in-out;
                            }
        
                            .Button {
                                position: absolute;
                                left: 50%;
                                top: 60%;
                                transform: translate(-50%, -50%) scale(1);
                                font-family: var(--franklin);
                                font-weight: 200;
                                font-size: 1em;
                                padding: 0.5em 2em;
                                border-radius: 10em;
                                background-color: var(--white);
                                text-align: center;
                                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
                            }
        
                            &:hover {
                                cursor: pointer;
        
                                img {
                                    transform: translateY(4%);
                                }
        
                                .RecordSVG {
                                    transform: translate(-50%, -5%) rotate(-25deg);
                                }
        
                                .Button {
                                    font-weight: 400;
                                    background-color: var(--lightPurple);
                                    color: var(--white);
                                    transform: translate(-50%, -50%) scale(1.1);
                                }
                            }
                        }

                        .Details {
                            gap: 0.5em;
                            flex-shrink: 0;

                            a {
                                @include LinkHover(var(--lightPurple), var(--white), 0.1em);
                                gap: 0.5em;
    
                                i {
                                    font-size: 0.8em;
                                }
                            }
            
                            p {
                                font-size: 1.1em;
                                flex-direction: row;
                                align-items: baseline;
                                gap: 0em 0.5em;
                                font-weight: 300;
                            }
            
                            span {
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-items: baseline;
                                gap: 0.2em 0.3em;
                                font-family: var(--franklin);
                            }
    
                            .Title {
                                font-size: 1.4em;
                                font-weight: 300;
                                font-family: var(--arima);
                                padding: 0.3em 0.25em 0.15em 0.15em !important;
                                gap: 0.3em;
                                margin-bottom: 0.15em;
                
                                i {
                                    margin-top: -0.25em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .SpotifyResults {
            align-items: center;
            width: 100%;

            h3 {
                flex-direction: row;
                gap: 0.5em;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: 3em;
                font-weight: 300;
                align-self: flex-start;
                margin-bottom: 0.2em;
                border-bottom: 0.05em dashed var(--black);

                span {
                    white-space: nowrap;
                    font-family: var(--cairo);
                    font-size: 0.6em;
                }
            }

            .fa-arrows-rotate {
                font-size: 2em;
                color: var(--black);
                animation: 1s ease-in-out 0s infinite Spin;
                justify-self: center;
                align-self: center;

                @keyframes Spin {
                    from {transform: rotate(0deg);}
                    to {transform: rotate(360deg);}
                }
            }
        }
    }
}