@import './../mixins';

#ui {
    .Example {
        flex-direction: column;

        .SectionContent {
            flex-direction: column;
            background-color: var(--ecommerceWhite);
            border-radius: 0.5em;
            padding: 1em 1em;
            gap: 1em;
            box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.07);

            .ButtonWrapper {
                flex-direction: row;
                align-items: center;
                gap: 0.25em;

                .Button {
                    width: fit-content;
                    height: fit-content;
                    font-size: 1.25em;
                    padding: 0.45em;
                    border-radius: 10em;
                    transition: background-color 0.1s linear, color 0.1s linear, transform 0.1s linear;

                    &:first-child {
                        font-size: 1.5em;
                        padding: 0.25em 0.5em 0.25em 0.5em;

                        &.Activated {
                            transform: rotate(90deg);

                            &:hover {
                                transform: scale(1.1) rotate(90deg);
                            }
                        }
                    }
    
                    &:hover {
                        background-color: var(--black);
                        color: var(--ecommerceWhite);
                        transform: scale(1.1);
                        cursor: pointer;
                        z-index: 1;
                    }
                }

                .InputWrapper {
                    @include Input();

                    input {
                        font-size: 1.5em;
                    }

                    label {
                        font-weight: 400;
                    }
                }
            }

            .ContentWrapper {
                flex-direction: column;
                height: fit-content;
                width: 100%;
                gap: 1.5em;

                .TextEditorWrapper {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    label {
                        font-size: 1.35em;
                        font-weight: 400;
                    }

                    .ql-toolbar, .ql-container {
                        width: 100%;
                    }

                    .ql-toolbar {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 1em;
                        margin-top: 0.5em;
                        border: 0.1em solid var(--black);
                    }

                    .ql-container {
                        display: block;
                        padding: 1em;
                        border: 0.1em dashed var(--black);
                        border-top: none;

                        * {
                            display: block;
                        }

                        .ql-hidden {
                            display: none !important;
                        }

                        .ql-editor {
                            display: block;
                            line-height: 1.4;

                            p, h3, span {
                                display: block;
                                line-height: 1.4;
                                line-height: inherit;
                                tab-size: inherit;
                                white-space: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}