@import '../mixins';

#web {
    display: flex;
    * {
        display: flex;
    }

    .Example {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em 3em;

        @include PortfolioCard();

        .PortfolioButton {
            flex-basis: 100%;
            justify-content: center;

            a {
                @include RoundButton(var(--yellow));
                padding: 0.4em 1.5em;
                margin: 3em auto 0em auto;
            }
        }
    }
}