@import '../mixins';

#web {
    display: flex;
    * {
        display: flex;
    }

    .Example {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em 3em;

        .PortfolioPiece {
            flex-direction: row;
            flex-basis: 30em;
            flex-grow: 1;
            gap: 1.25em;

            .ImageWrapper {
                flex-basis: 17em;
                flex-grow: 1;
                height: 15em;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                        filter: blur(3px) brightness(0.85);
                        opacity: 0.75;
                    }
                }
            }

            .Description {
                height: 100%;
                flex-basis: 15em;
                flex-grow: 1;
                gap: 0.5em;
                justify-content: space-around;

                h4 {
                    font-size: 1.75em;
                    font-weight: 300;
                }

                p {
                    font-family: var(--franklin);
                    font-size: 1.15em;
                    font-weight: 100;
                    line-height: 140%;
                }

                .Link {
                    @include LinkHover(var(--lightPurple), var(--white), 0.1em);
                    font-size: 1.1em;
                    align-self: center;
                }
            }
        }

        .PortfolioButton {
            flex-basis: 100%;
            justify-content: center;

            a {
                @include RoundButton();
                padding: 0.4em 1.5em;
                margin: 3em auto 0em auto;
            }
        }
    }
}