@import './mixins';

:root {
    --githubBlue: #2d82f7;
    --githubWhite: #f0f6fc;
    --githubBlack: #0d1118;
    --githubGrey: #1a2028;
    --githubLightGrey: #7e8490;
}

main {
    padding: 12em 0 8em 0;
    display: flex;
    position: relative;

    * {
        display: flex;
        position: relative;
    }

    .Title {
        width: 100%;
        font-size: clamp(3.5em, 5vw, 5em);
        font-weight: 200;
        border-bottom: 0.03em dashed var(--black);
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 0em 0.5em;
        line-height: 70%;

        a {
            @include RoundButton(var(--black));
            font-size: clamp(22px, 0.4em, 0.4em);
            height: fit-content;
            margin: 0.5em 0;
        }
    }

    .AboutMe {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 2.5em;
        gap: 2em 5em;
        margin-bottom: 9em;

        img {
            width: auto;
            height: 22.5em;
            border-radius: 1em;
            box-shadow: 0.2em 0.2em 0 0 rgba(0,0,0, 0.05);
        }

        .Description {
            gap: 1em;
            flex-basis: 20em;
            flex-grow: 1;
            font-family: var(--franklin);
            font-size: clamp(1.5em, 2vw, 1.75em);
            font-weight: 100;
            line-height: 140%;
            letter-spacing: 0.01em;

            p {
                line-height: inherit;
            }
        }
    }

    .Grid {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7em;

        .Title {
            font-size: clamp(3em, 4vw, 4em);
        }

        .Left {
            flex-basis: 50em;
            flex-grow: 2;
            gap: 3em;
            align-items: center;

            .Resume {
                flex-direction: row-reverse;
                flex-wrap: wrap;
                max-width: 62em;
                background-color: var(--black);
                border-radius: 0.5em;
                overflow: hidden;
                gap: 1.5px;
                box-shadow: 0.2em 0.2em 0em 0 rgba(0,0,0, 0.04);

                .Column {
                    gap: 1.5px;

                    &:last-child {
                        flex-basis: 24em;
                        flex-grow: 1;
                    }
                    &:first-child {
                        flex-basis: 30em;
                        flex-grow: 10;
                    }

                    .Section {
                        padding: 3em 3em;
                        height: fit-content;
                        background-color: var(--brightWhite);

                        &:last-child {
                            flex-grow: 1;
                        }
                    }

                    .Info {
                        gap: 1.5em;
                        align-items: center;

                        .ImageWrapper {
                            height: fit-content;
                            width: fit-content;

                            .Outline {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                border: 1.5px solid var(--black);
                                transform: translate(-0.5em, -0.4em);
                            }
    
                            img {
                                width: 12.5em;
                                max-width: 100%;
                                height: auto;
                                border: 1.5px solid var(--black);
                            }
                        }

                        .InfoWrapper {
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 1.25em 1em;
                            justify-content: center;
                            
                            .Link {

                                h3 {
                                    font-family: var(--rubik);
                                    font-size: 0.9em;
                                    text-transform: uppercase;
                                    font-weight: 600;
                                }

                                a, p {
                                    font-family: var(--franklin);
                                    font-weight: 400;
                                    font-size: 1.3em;
                                    word-break: break-all;
                                }

                                &:nth-child(1) {
                                    h3 {
                                        color: var(--lightRed);
                                    }

                                    a {
                                        @include LinkHover(var(--lightRed), var(--brightWhite), 0.125em);
                                    }
                                }
                                &:nth-child(2) {
                                    h3 {
                                        color: var(--yellow);
                                    }

                                    a {
                                        @include LinkHover(var(--yellow), var(--brightWhite), 0.125em);
                                    }
                                }
                                &:nth-child(3) {
                                    h3 {
                                        color: var(--green);
                                    }

                                    a {
                                        @include LinkHover(var(--green), var(--brightWhite), 0.125em);
                                    }
                                }

                                &:nth-child(4) {
                                    h3 {
                                        color: var(--blue);
                                    }

                                    p {
                                        border-bottom: 0.125em solid var(--blue);
                                        padding: 0.25em 0.1em 0.075em 0.1em;
                                    }
                                }
                            }
                        }
                    }

                    .Skills {
                        gap: 2.5em;

                        .SkillsWrapper {
                            gap: 1.25em;

                            .Skill {
                                gap: 0.25em;

                                h4 {
                                    font-family: var(--franklin);
                                    font-weight: 500;
                                    font-size: 1.4em;
                                    padding-bottom: 0.1em;
                                    border-bottom: 0.1em dashed var(--black);
                                }
                                
                                p {
                                    font-family: var(--franklin);
                                    font-weight: 400;
                                    font-size: 1.1em;
                                    line-height: 130%;
                                }
                            }
                        }
                    }

                    .Description {
                        gap: 1.5em;
                        
                        .HighligherWrapper {
                            width: fit-content;
                            height: fit-content;

                            h2 {
                                width: fit-content;
                                font-weight: 300;
                                font-size: 3.5em;
                                filter: drop-shadow(0.05em 0.05em 0 var(--brightWhite));
                            }

                            svg {
                                position: absolute;
                                height: 102%;
                                top: 42.5%;
                                left: 52.5%;
                                transform: translate(-50%, -50%);
                            }
                        }

                        p {
                            font-family: var(--franklin);
                            font-weight: 400;
                            font-size: 1.2em;
                            line-height: 150%;
                            margin-top: -0.25em;
                        }
                    }

                    .Education {
                        flex-direction: row;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 2em;

                        .Degree {
                            gap: 0.25em;

                            h4 {
                                font-weight: 300;
                                font-size: 2.25em;
                                border-bottom: 0.065em dashed var(--black);
                            }

                            p {
                                font-size: 1.1em;
                                font-weight: 600;
                            }
                        }
                    }

                    .Experience {
                        gap: 2.5em;

                        .Job {
                            h4 {
                                font-weight: 300;
                                font-size: 2.25em;
                                border-bottom: 0.065em dashed var(--black);
                            }

                            span {
                                font-size: 1.1em;
                                font-weight: 600;
                                margin-top: 0.25em;
                            }

                            p {
                                font-family: var(--franklin);
                                font-weight: 400;
                                font-size: 1.2em;
                                line-height: 140%;
                                margin-top: 1em;
                            }
                        }
                    }

                    .Heading {
                        font-family: var(--rubik);
                        font-weight: 600;
                        font-size: 1.1em;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                    }
                }
            }
        }

        .Right {
            flex-basis: 25em;
            flex-grow: 1;
            gap: 3em;
            align-items: center;

            .Github {
                border-radius: 0.5em;
                background-color: var(--githubBlack);
                overflow: hidden;
                max-width: 55em;
                box-shadow: 0.25em 0.25em 0 0 rgba(0,0,0, 0.05);

                a {
                    text-decoration-color: var(--githubBlue);
                    text-decoration-thickness: 0.1em;
                    transition: opacity 0.1s linear;
                    width: fit-content;
                    
                    &:hover {
                        opacity: 0.6;
                    }
                }
                
                .TopRow {
                    background-color: var(--githubGrey);
                    flex-direction: row;
                    align-items: center;
                    gap: 1em;
                    height: 4em;
                    padding: 0.5em 1em;
                    max-width: calc(100vw - 6em);
                    overflow: hidden;

                    .Logo {
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5em;
                        height: 70%;
                        width: fit-content;
                        margin-right: auto;
                        text-decoration-color: var(--githubWhite);

                        h3 {
                            color: var(--githubWhite);
                            font-family: var(--franklin);
                            font-weight: 500;
                            font-size: 1.5em;
                        }

                        svg {
                            fill: var(--githubWhite);
                            height: 100%;
                            width: auto;
                        }
                    }

                    img {
                        height: 100%;
                        width: auto;
                        border-radius: 10em;
                    }

                    h2 {
                        color: var(--githubBlue);
                        font-family: var(--franklin);
                        font-weight: 600;
                    }
                }

                .Repos {
                    flex-direction: column;
                    padding: 1em 2em;
                    max-height: 50em;
                    overflow-y: scroll;

                    .Repo {
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 0.75em 2em;
                        padding: 1.5em 0;
                        border-bottom: 0.25em solid var(--githubGrey);

                        &:last-child {
                            border-bottom: none;
                        }

                        .RepoLeft {
                            flex-basis: 15em;
                            flex-grow: 10;
                            gap: 0.5em;

                            h3 {
                                font-size: 1.5em;
                                font-family: var(--franklin);
                                font-weight: 600;
                                color: var(--githubBlue);
                                line-height: 120%;
                            }

                            .Description {
                                font-size: 1.2em;
                                line-height: 140%;
                                font-family: var(--franklin);
                                font-weight: 400;
                                color: var(--githubLightGrey);
                            }

                            .Topics {
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-items: center;
                                gap: 0.4em 0.5em;
                                margin-top: 0.25em;

                                p {
                                    font-weight: 500;
                                    font-size: 1.1em;
                                    padding: 0.25em 0.75em;
                                    color: var(--githubBlue);
                                    border-radius: 10em;
                                    background-color: var(--githubGrey);
                                }
                            }
                        }

                        .RepoRight {
                            flex-basis: 10em;
                            flex-grow: 1;
                            gap: 1em;

                            p {
                                gap: 0.25em;
                                font-size: 1.1em;

                                span {
                                    color: var(--githubLightGrey);
                                    font-family: var(--franklin);
                                }
                            }
                        }
                    }
                }
            }

            .LinkedIn {
                max-width: 40em;
                background-color: #000000;
                border-radius: 0.5em;
                overflow: hidden;
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
                box-shadow: 0.25em 0.25em 0 0 rgba(0,0,0, 0.05);

                .Top {
                    background-color: #38434f;
                    padding: 1em 1.25em;
                    height: 2em;

                    svg {
                        height: 100%;
                        width: auto;
                    }
                }

                .Bottom {
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 1em 1.25em;
                    gap: 1em;
                    align-items: center;

                    img {
                        width: 5em;
                        height: auto;
                        border-radius: 10em;
                    }

                    h3, h4, a {
                        font-family: inherit;
                        color: white;
                    }

                    h3 {
                        font-size: 1.75em;
                    }

                    h4 {
                        font-size: 1.5em;
                        font-weight: 400;
                        line-height: 120%;
                    }

                    a {
                        width: 100%;
                        text-decoration: none;
                        
                        h4 {
                            font-size: 1.25em;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .Button {
                        font-size: 1.3em;
                        font-weight: 600;
                        width: fit-content;
                        margin: 0.5em auto;
                        padding: 0.5em 1em;
                        border-radius: 10em;
                        box-shadow: 0 0 0 0.05em white inset;
                        transition: 0.1s linear box-shadow;

                        &:hover {
                            box-shadow: 0 0 0 0.1em white inset;
                        }
                    }
                }
            }
        }
    }
}