@import './mixins';

main {
    padding: 8em 0;
    display: flex;
    position: relative;

    * {
        display: flex;
        position: relative;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 3em 4em;
        padding: 5em 0;

        &:last-child {
            border-bottom: none
        }

        h2 {
            font-size: clamp(3.5em, 5vw, 5em);
            font-weight: 200;
            flex-basis: 100%;
            border-bottom: 0.03em dashed var(--black);
        }

        .Description {
            flex-basis: 100%;
            font-family: var(--franklin);
            font-size: clamp(1.3em, 1.65vw, 1.65em);
            font-weight: 100;
            line-height: 140%;
            margin-top: -1.25em;
            margin-bottom: 0.25em;
        }

        .InputWrapper {
            @include Input();
        }

        .DateWrapper {
            @include DateInput();
        }

        .TextareaWrapper {
            @include Textarea();
        }

        .ListWrapper {
            @include List();
        }

        .SubSection {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            flex-basis: 45em;
            flex-grow: 1;
            gap: 0.75em 2em;
            margin: 1em 0;

            h3 {
                font-size: clamp(2em, 3vw, 3em);
                font-weight: 200;
                border-bottom: 0.05em dashed var(--black);
                margin-bottom: 0.25em;
                width: fit-content;
            }

            .Dates {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.75em 2em;
            }

        }

        .Loading {
            flex-basis: 100%;
            justify-content: center;
            align-items: center;

            i { 
                font-size: 2em;
                animation: 1s ease-in-out 0s infinite Spin;
            }
        }

        .ErrorMessage {
            flex-basis: 100%;
            text-align: center;
            font-size: 1.75em;
            font-weight: 300;
            font-style: italic;
            margin-top: -0.25em;
            margin-bottom: -0.25em;
            color: var(--lightRed);
        }

        .Submit {
            @include RoundButton(var(--black));
            align-self: center;
            margin: 0 auto;
        }
    }
}