@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: #eee5e4;
    --lightGrey: #d9dee3;
    --brightWhite: #f7f7f7;
    --black: #47484d;
    --red: #d9363e;
    --lightRed: #e53f47;
    --purple: #583982;
    --lightPurple: #9542ce;
    --green: #96bc51;
    --yellow: #f0ab2e;
    --grey: #77787d;
    --blue: #1ebbec;
    --arima: "Arima", serif;
    --franklin: "Libre Franklin", sans-serif;
    --cairo: "Cairo", sans-serif;
    --workSans: 'Work Sans', sans-serif;
    --rubik: 'Rubik', sans-serif;
}

html {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-basis: 1px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    margin: 0px;
    font-family: var(--cairo);
    color: var(--black);
    background-color: var(--white);
    height: fit-content;

    @media (pointer:none), (pointer:coarse) {
        font-size: 0.75em;
    }

    style, script, link {
        display: none !important;
    }
}

* {
    margin: 0px;
    padding: 0px;
    // display: flex;
    flex-direction: column;
    position: relative;
    line-height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 1px;
    flex-grow: 1;
    background-color: var(--white);
    height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--arima);
}

button, input, select, option {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.Contain {
    width: 1600px;
    max-width: calc(100vw - 4em);
    align-self: center;
}

#Header {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4em);
    height: min-content;
    flex-direction: row;
    border-radius: 0 0 0.5em 0.5em;
    z-index: 10;
    display: flex;
    pointer-events: none;

    * {
        display: flex;
    }

    .Logo {
        transition: transform 0.1s linear;
        z-index: 2;
        margin-left: auto;
        flex-shrink: 0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 2px 2px 0px 2px;
        border-radius: 0 0 5px 5px;
        pointer-events: all;
        box-shadow: 0.15em 0.15em 0em 0em rgba(0,0,0,0.05);

        &:hover {
            transform: scale(1.075);
        }

        svg {
            height: auto;
            width: 4em;
        }
    }

    .Links {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: auto;
        height: fit-content;
        min-height: 50%;
        width: fit-content;
        padding: clamp(0.5em, 1.5vw, 0.75em) 0.75em;
        gap: 0em 0.5em;
        border-radius: 0 0 0.5em 0;
        background-color: var(--brightWhite);
        align-items: center;
        justify-content: center;
        pointer-events: all;
        box-shadow: 0.15em 0.15em 0em 0em rgba(0,0,0,0.05);

        a {
            font-size: clamp(1.25em, 1.35vw, 1.35em);
            font-weight: 600;
            text-decoration: none;
            color: var(--black);
            background-color: rgba(0,0,0,0);
            padding: clamp(0.25em, 0.5vw, 0.5em) 1em;
            transition: background-color 0.1s linear, transform 0.1s linear, color 0.1s linear;
            border-radius: 10em;

            &:hover {
                color: var(--brightWhite);
                transform: scale(1.05);
                z-index: 1;
            }

            &:nth-child(1):hover {
                background-color: var(--yellow);
            }
            &:nth-child(2):hover {
                background-color: var(--lightRed);
            }
            &:nth-child(3):hover {
                background-color: var(--green);
            }
            &:nth-child(4):hover {
                background-color: var(--lightPurple);
            }
        }
    }
}

#footer {
    display: flex;

    * {
        display: flex;
    }

    .Contain {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 3em 6em;
        padding: 8em 0;
        border-top: 0.15em dashed var(--black);

        .Left {

            .DreamStateWrapper {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 1.5em;
                opacity: 1;
                transition: opacity 0.1s linear;
                text-decoration: none;

                &:hover {
                    opacity: 0.5;
                }

                img {
                    margin-top: -0.9em;
                    width: 7.5em;
                    height: auto;
                }

                div {
                    justify-content: center;
                    align-items: center;
                    gap: 0.25em;
                    color: var(--black);

                    h2 {
                        font-weight: 200;
                        font-size: clamp(4em, 6vw, 6em);
                        line-height: 80%;
                    }
            
                    p {
                        font-family: var(--franklin);
                        font-weight: 200;
                        font-size: clamp(1.4em, 1.7vw, 1.7em);
                        line-height: 120%;
                        font-style: italic;
                    }
                }
            }
        }
        
        .Links {
            flex-direction: column;
            gap: 1.5em;
            flex-basis: 100%;

            .Row {
                flex-direction: column;
                flex-wrap: wrap;

                &:nth-child(1) {
                    a {
                        @include LinkHover(var(--yellow), var(--black), 0.1em);
                    }
                }

                &:nth-child(2) {
                    a {
                        @include LinkHover(var(--lightRed), var(--white), 0.1em);
                    }
                }

                &:nth-child(3) {
                    a {
                        @include LinkHover(var(--green), var(--white), 0.1em);
                    }
                }

                &:nth-child(4) {
                    a {
                        @include LinkHover(var(--lightPurple), var(--white), 0.1em);
                    }
                }

                &:nth-child(5) {
                    a {
                        @include LinkHover(var(--lightRed), var(--white), 0.1em);
                    }
                }

                .Link {
                    font-size: 1.75em;
                    font-weight: 300;
                    font-family: var(--franklin);
                }
                
    
                .SubLinks {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 0.75em 1.5em;
                    padding: 0.75em 1em 0.5em 1.25em;

                    a {
                        font-size: 1.25em;
                        white-space: nowrap;

                        i {
                            font-size: 0.9em;
                        }
                    }
                }
            }   
        }
    }
}