:root {
    --ecommerceGrey: #d9dee3;
    --ecommerceWhite: #f7f7f7;
}

.SplashImage {
    height: 100vh;
    width: 100%;

    #FloralPatternSVG {
        position: absolute;
        pointer-events: none;
        width: 90vw;
        height: auto;
        top: -22vw;
        right: 7vw;
        filter: drop-shadow(0.3em 0.4em 0px rgba(0, 0, 0, 0.08));

        .WindWrapper {

            @keyframes Wind {
                from { transform: scale(1,1) }
                10% { transform: scale(1,1) }
                30% { transform: scale(1.001, 1) }
                50% { transform: scale(1.000, 1) }
                70% { transform: scale(1.001, 1) }
                90% { transform: scale(1,1) }
                to { transform: scale(1,1) }
            }

            .FloralItem {
                transform: translate(91.5%, 88%) scale(0);
                transition: transform 0.4s ease-out;

                @keyframes Burst {
                    from {
                        transform: translate(91.5%, 88%) scale(0);
                    }
                    to {
                        transform: translate(0,0) scale(1);
                    }
                }
            }
        }
    }

    #HandSVG {
        position: absolute;
        pointer-events: none;
        width: 44vw;
        height: auto;
        top: 36.1vw;
        right: -29vw;
        transform: translateX(15vw);
        animation: 0.5s ease-in-out 2.25s forwards SlideIn, 0.75s ease-in-out 3s forwards LiftHand;

        @keyframes LiftHand {
            from { transform: rotateY(0deg) scale(1); }
            55% { transform: rotateY(-15deg) scale(1.1); }
            75% { transform: rotateY(-15deg) scale(1.1); }
            to { transform: rotateY(0deg) scale(1); }
        }

        @keyframes SlideIn {
            from { transform: translateX(15vw) rotate(10deg) }
            to {transform: translateX(0vw) rotate(0deg) }
        }
    }

    #RightCover {
        position: absolute;
        pointer-events: none;
        right: 0;
        top: 0;
        width: 22vw;
    }

    .MainCopy {
        align-items: flex-start;
        margin-left: 2em;
        margin-top: 16em;
        z-index: 2;

        h1 {
            display: none;
        }

        h3 {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5em;
            font-family: var(--franklin);
            font-size: 3em;
            font-weight: 100;

            .Titling {
                font-weight: 300;
                font-size: 2em;
                font-family: var(--arima);
                margin: 0.05em 0 -0.05em -0.08em;
            }

            span:nth-child(1) {
                filter: blur(20px); 
                opacity: 0;
                transition: filter 0.3s ease-in, opacity 0.3s ease-in;
            }

            span:nth-child(2) {
                opacity: 0;
                transform: translateX(-75%);
                transition: transform 0.3s ease-out, opacity 0.3s ease-out;
            }

            span:nth-child(3) {
                opacity: 0;
                transform: translateY(-50%);
                transition: transform 0.3s ease-in, opacity 0.3s ease-in;
            }
        }

        .Subtitle {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 1em;

            h2 {
                flex-wrap: wrap;
                font-size: 1.8em;
                font-family: var(--cairo);
                font-weight: 300;
                width: fit-content;
                opacity: 0;
                transform: translateY(-35%);
                transition: transform 0.25s ease-out, opacity 0.25s ease-out;
            }

            a {
                color: var(--black);
                text-decoration: none;
                font-size: 1.15em;
                font-family: var(--workSans);
                padding: 0.35em 1em;
                box-shadow: 0 0 0 0.1em var(--black);
                border-radius: 100em;
                text-transform: uppercase;
                transition: background-color 0.1s linear, color 0.1s linear, font-weight 0.1s linear, transform 0.1s linear, box-shadow 0.1s linear, transform 0.25s ease-out, opacity 0.25s ease-out;
                transform: translateY(-35%);
                opacity: 0;

                &:hover {
                    background-color: var(--green);
                    box-shadow: 0 0 0 0em var(--black);
                    color: var(--white);
                    font-weight: 500;
                    animation: 0.4s linear 0s forwards ColorJump !important;
                }

                @keyframes ColorJump {
                    0% {
                        background-color: var(--white);
                        transform: scale(1);
                    }
                    20% {
                        background-color: var(--green);
                        transform: scale(1.1, 1.15);
                    }
                    40% {
                        background-color: var(--yellow);
                        transform: scale(1.2, 1.27);
                    }
                    60% {
                        background-color: var(--red);
                        transform: scale(1.15, 1.25);
                    }
                    80% {
                        background-color: var(--green);
                        transform: scale(1.1, 1.15);
                    }
                    100% {
                        background-color: var(--yellow);
                        transform: scale(1.1, 1.125);
                    }
                }
            }

            @keyframes FadeInText {
                from {opacity: 0;}
                to {opacity: 1;}
            }
        }
    }

    .IframeSlider {
        margin-top: 4em;

        .IframeWrapper {
            flex-direction: row;
            width: calc(100vw - 2em);
            gap: 15px;
            padding: 0 1em;

            div {
                opacity: 0;
                height: 240px;
                width: 350px;
                flex-shrink: 0;
                box-shadow: 0 0 0 0.1em var(--black) inset;
                border-radius: 0.5em;
                border: none;
            }
        }
    }
}

#WhatICanDo {
    margin-top: 15em;
    align-items: flex-start;
    flex-direction: row;
    gap: 0em 3em;

    .NavBars {
        flex-basis: 1px;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .NavBar {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            gap: 1em 3em;
            background-color: var(--white);
            border-right: 0.125em dashed var(--black);
            transform: translateX(0.1em);
            z-index: 1;
            padding: 1em 0;
            pointer-events: none;
    
            &.Static {
                position: fixed;
                width: 24.1em;
                left: clamp(2.1em, calc(calc(100% - 1600px) * 0.5), 100%);
                top: 50%;
                transform: translateY(-50%);
            }
    
            h2 {
                font-weight: 300;
                font-size: 3.9em;
                font-family: var(--arima);
                font-weight: 200;
    
                * {
                    line-height: 100%;
                }
            }
    
            .LinksWrapper {
                flex-basis: 40em;
                flex-grow: 1;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.75em 1.5em;
    
                .Link {
                    font-size: 1.25em;
                    font-weight: 200;
                    width: fit-content;
                    text-decoration: none;
                    color: var(--black);
                    font-family: var(--franklin);
                    padding: 0.2em 0.3em 0.2em 0.15em;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.4em;
                    transition: font-weight 0.1s linear, padding 0.1s linear;
                    pointer-events: all;
    
                    i {
                        color: var(--yellow);
                        transition: color 0.1s linear;
                    }
    
                    .Underline {
                        position: absolute;
                        background-color: var(--yellow);
                        bottom: 0;
                        left: 0;
                        height: 0.1em;
                        width: 100%;
                        transition: height 0.15s ease-in-out, border-radius 0.1s linear;
                        z-index: -1;
                    }
    
                    &:hover {
                        font-weight: 400;
                        padding: 0.2em 0.4em 0.2em 0.3em;
    
                        i {
                            color: var(--black);
                        }
    
                        .Underline {
                            height: 100%;
                            border-radius: 0.2em;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1400px) {
        flex-direction: column;

        .NavBars .NavBar {
            border-right: none;
            border-bottom: 0.125em dashed var(--black);

            &.Top {
                margin-bottom: 3em;
            }

            &.Bottom {
                display: none;
            }

            &.Static {
                padding: 1em 2.1em;
                width: calc(100vw - 4.2em);
                left: 0;
                top: 0;
                transform: none;
            }
        }
    }

    .Content {
        flex-basis: 1px;
        flex-grow: 1;
        min-width: calc(100% - 27.1em);

        .Section {
            padding-top: 15em;

            &:first-child {
                padding-top: 0em;
            }

            .Title {
                font-weight: 200;
                font-size: 3.5em;
                margin-bottom: 0.25em;
            }

            .Description {
                font-weight: 100;
                font-size: 1.5em;
                line-height: 140%;
                font-family: var(--franklin);
            }

            .Example {
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 4em;
                gap: 2em;
            }
        }
    }

    #data {
        justify-content: center;

        .DataEntry {
            width: fit-content;
            flex-basis: 15em;
            flex-grow: 1;
            font-size: 1.25em;
            color: var(--white);
            background-color: var(--black);
            border-radius: 0.5em;
            padding: 1.25em 1.5em;
            gap: 0.5em;
            overflow: hidden;
            max-width: 100%;
    
            .Line {
                display: inline;
                flex-direction: row;
                align-items: baseline;
                line-height: 120%;
    
                span {
                    display: inline;
                }
    
                input, select {
                    display: inline;
                    min-width: 25px;
                    max-width: 50%;
                    margin-right: 0.25em;
                    background-color: var(--black);
                    border-bottom: 0.075em dashed var(--white);
                    transform: translateY(-0.15em);
                    color: var(--white);
                    font-size: 0.9em;
                    font-weight: 200;
                    padding: 0 0.2em;
                    font-family: var(--franklin);
                    transition: border 0.1s linear;
    
                    &:hover, &:focus {
                        border-bottom: 0.075em solid var(--white);
                    }
                }

                .Reset {
                    position: absolute;
                    font-size: 1.1em;
                    right: 0;
                    top: 0;
                    color: var(--white);
                    padding: 0.25em;
                    border-radius: 10em;
                    transition: background-color 0.1s linear, color 0.1s linear, transform 0.25s ease-in-out;
    
                    &:hover {
                        background-color: var(--white);
                        color: var(--black);
                        transform: scale(1.1) rotate(-270deg);
                        cursor: pointer;
                    }
                }
    
                .AddButton {
                    color: var(--white);
                    font-size: 0.8em;
                    padding: 0.2em 0.25em;
                    border: 0.125em solid var(--white);
                    border-radius: 0.25em;
                    width: fit-content;
                    transition: background-color 0.1s linear, color 0.1s linear, transform 0.1s linear;
    
                    &:hover {
                        background-color: var(--white);
                        color: var(--black);
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
    
                .DeleteButton {
                    font-size: 1em;
                    color: var(--lightRed);
                    margin-left: 0.25em;
                    padding: 0.25em;
                    border-radius: 0.25em;
                    transition: color 0.1s linear, background-color 0.1s linear, transform 0.1s linear;
    
                    &:hover {
                        color: var(--white);
                        background-color: var(--lightRed);
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
    
                .Red {
                    color: var(--lightRed);
                }
    
                .Purple {
                    color: var(--lightPurple);
                }
                
                .Yellow {
                    color: var(--yellow);
                }
    
                .Green {
                    color: var(--green);
                }
            }
        }
    
        .DataResult {
            background-color: var(--ecommerceWhite);
            border-radius: 0.5em;
            padding: 1.5em 1.5em 0.75em 1.5em;
            flex-grow: 1;
            flex-basis: 15em;
            max-width: 30em;
            filter: drop-shadow(2px 1px 4px rgba(0,0,0, 0.05));
            overflow: hidden;
            height: fit-content;

            .Gallery {
                height: 17.5em;
                width: calc(100% + 3em);
                margin-left: -1.5em;
                margin-top: -1.5em;
                overflow: hidden;

                .GallerySlider {
                    flex-direction: row;
                    flex-shrink: 0;
                    height: 100%;
                    width: 100%;
                    transition: transform 0.5s ease-in-out;

                    .ImageWrapper {
                        height: 100%;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }

                .CategoryWrapper {
                    position: absolute;
                    right: 0.75em;
                    top: 0.75em;
                    max-width: calc(100% - 1.5em);
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 0.25em 0.5em;
                    font-size: 1.15em;
    
                    .Category {
                        padding: 0.1em 0.75em;
                        border-radius: 10em;
                        background: var(--blue);
                        color: white;
                        font-weight: 600;
                        box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
                    }
                }
            }

            .Pagination {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.5em;
                width: 100%;
                justify-content: center;
                margin: 1em 0;

                div {
                    height: 0.75em;
                    width: 2em;
                    border-radius: 0.1em;
                    background-color: var(--ecommerceGrey);
                    transition: background-color 0.1s linear;

                    &:hover {
                        cursor: pointer;
                        background-color: var(--blue);
                    }
                }
            }

            h3 {
                font-family: var(--rubik);
                font-weight: 200;
                font-size: 2em;
                padding: 0.5em 0;
                border-top: 0.05em solid var(--ecommerceGrey);
                border-bottom: 0.05em solid var(--ecommerceGrey);
            }

            .SubContent {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1.25em;

                .PriceWrapper {
                    justify-content: center;
                    align-items: center;
                    flex-basis: 8em;
                    padding: 1.5em 0em;

                    .Price {
                        font-family: var(--cairo);
                        font-size: 1.5em;
                        font-weight: 400;
                        margin-bottom: 0.2em;

                        span {
                            position: absolute;
                            height: 0.1em;
                            width: 110%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(10deg);
                            background-color: var(--red);
                        }
                    }

                    .QuantityButtons {
                        flex-direction: row;
                        font-family: var(--rubik);
                        margin-top: 0.25em;

                        button {
                            height: 29px;
                            width: 25px;
                            font-size: 1.25em;
                            font-weight: 700;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--blue);
                            color: white;
                            line-height: 50%;
                            transition: transform 0.1s linear;

                            &:first-of-type {
                                border-radius: 0.3em 0 0 0.3em;
                            }

                            &:last-of-type {
                                border-radius: 0 0.3em 0.3em 0;
                            }

                            &:hover {
                                transform: scale(1.15);
                                cursor: pointer;
                            }
                        }

                        input {
                            height: calc(30px - 0.2em);
                            font-size: 1em;
                            font-weight: 400;
                            font-family: var(--rubik);
                            width: 2em;
                            padding: 0 0.5em;
                            background: none;
                            border-top: 0.1em solid var(--blue);
                            border-bottom: 0.1em solid var(--blue);
                        }
                    }
                }

                .Divider {
                    align-self: stretch;
                    width: 0.075em;
                    background-color: var(--ecommerceGrey);
                    height: none;
                }
    
                .Description {
                    flex-grow: 1;
                    flex-basis: 10em;
                    font-size: 1.15em;
                    font-family: var(--workSans);
                    font-weight: 300;
                    line-height: 120%;
                    padding: 0.75em 0;
                }
            }
        }
    }

    #authentication {
        .Example {
            gap: 3.75em 3em;

            .Form {
                height: fit-content;
                flex-direction: row;
                flex-grow: 1;
                flex-wrap: wrap;
                flex-basis: 25em;
                gap: 1em 2em;
                justify-content: center;
                align-items: center;

                h4 {
                    font-family: var(--arima);
                    font-size: 2.75em;
                    font-weight: 200;
                    margin-bottom: 0.2em;
                    align-self: center;
                    text-align: center;
                }

                .Reset {
                    position: absolute;
                    top: 0.2em;
                    right: 0;
                    font-size: 1.5em;
                    padding: 0.25em;
                    border-radius: 10em;
                    transition: background-color 0.1s linear, color 0.1s linear, transform 0.25s ease-in-out;
    
                    &:hover {
                        background-color: var(--black);
                        color: var(--white);
                        transform: scale(1.1) rotate(-270deg);
                        cursor: pointer;
                    }
                }

                .InputWrapper {
                    flex-basis: 100%;
                    flex-grow: 1;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: baseline;
                    gap: 0.5em;
                    padding-bottom: 0.1em;
                    border-bottom: 0.125em solid;
                    transition: border-color 0.1s linear;

                    p {
                        font-size: 1.35em;
                        font-weight: 300;
                        font-family: var(--cairo);
                        letter-spacing: 0.02em;
                    }

                    input {
                        flex-basis: 5em;
                        flex-grow: 1;
                        font-size: 1.7em;
                        padding: 0 0.25em;
                        font-family: var(--franklin);
                        font-weight: 100;
                        background-color: var(--white);
                        min-width: 2em;
                    }
                }

                .Submit {
                    font-size: 1.4em;
                    font-weight: 300;
                    font-family: var(--rubik);
                    margin-top: 1.2em;
                    padding: 0.2em 1em;
                    box-shadow: 0 0 0 0.075em var(--black);
                    border-radius: 10em;
                    background-color: var(--white);
                    width: fit-content;
                    transition: background-color 0.1s linear, color 0.1s linear, transform 0.1s linear, font-weight 0.1s linear;

                    &:hover {
                        background-color: var(--black);
                        color: var(--white);
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }

            .EncryptionWrapper {
                flex-basis: 25em;
                flex-grow: 1;
                gap: 1em;

                h4 {
                    font-family: var(--arima);
                    font-size: 2.75em;
                    font-weight: 200;
                    width: fit-content;
                    align-self: center;
                    text-align: center;
                    margin-bottom: 0.2em;
                }

                .EncryptedPassword {
                    word-break: break-all;
                    font-weight: 300;
                    line-height: 140%;
                    font-size: 1.4em;
                }

                .Disclaimer {
                    display: inline;
                    font-family: var(--franklin);
                    font-weight: 300;
                    align-self: flex-end;
                    font-style: italic;
                    font-size: 0.85em;

                    a {
                        display: inline;
                        color: var(--blue);
                        transition: color 0.1s linear;

                        &:hover {
                            color: var(--black);
                        }
                    }
                }
            }

            .Divider {
                width: 100%;
                border-bottom: 0.125em dashed var(--black);
            }

            .SessionWrapper {
                flex-basis: 25em;
                flex-grow: 1;
                gap: 1em;

                h4 {
                    font-family: var(--arima);
                    font-size: 2.75em;
                    font-weight: 200;
                    width: fit-content;
                    align-self: center;
                    text-align: center;
                    margin-bottom: 0.2em;
                }

                p {
                    word-break: break-all;
                    font-weight: 300;
                    line-height: 140%;
                    font-size: 1.4em;
                }
            }
        }
    }
}