@import "./mixins";

main {
    padding: 13em 0 10em 0;
    display: flex;
    position: relative;

    * {
        display: flex;
        position: relative;
    }

    h1 {
        font-size: 5em;
        font-weight: 200;
    }

    .TagsWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em 1.5em;
        width: 100%;
        padding: 0.75em 0em;
        margin: 0.25em 0;
        border-top: 0.125em dashed var(--black);
        
        p {
            @include RoundButton(var(--lightPurple));
            padding: 0.3em 1em;
            font-size: 1.3em;
            font-family: var(--franklin);
            font-weight: 300;
        }
    }

    .ProjectsWrapper {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4em 0;
        gap: 4em;
        min-height: 20em;

        @include PortfolioCard();

        .Project {
            opacity: 0;
        }
    }
}